._sidebar {
  
    height: 54rem;
background-color: #051e34;
 
    z-index: 999;
}

.bg-image {
    background-image: url(./img-4/sidebar-bg.png);
    background-size: cover;  /* Regola la dimensione dell'immagine in modo che copra l'intera area */
    background-position: start;  /* Allinea l'immagine al centro dell'area */
    background-repeat: no-repeat;  /* Impedisce la ripetizione dell'immagine */

}

._ul-navbar {
    height: 20rem;
    width: 100%;
    list-style: none;
}



._ul-navbar {
    height: 20rem;
    width: 100%;
    list-style: none;
}



._sidebar-container {
    width: 100%;
} 


._thead {
    width: 20rem;
}



._card-classe{
width: 100%;
}


._mycard {
width: 25rem;
}



._accordion-header {
    border-bottom: 1px solid rgb(192, 192, 192);
    width: 100%;
}



._accordion-button {
    width: 100%;


}


._card-faq {
    width:  100%;
}

._ul-navbar {
    height: 50rem;
 
}




._text-li {
font-size: 10px;

}






@media (max-width: 576px) { 


._mycard {
    width: 43rem;
    }

._title-navbar {
    display: none;
}


}



@media (max-width: 768px)  { 


    ._mycard {
        width: 32rem;
        }
    
    ._title-navbar {
        display: none;
    }
    

._text-li {
    display: none;

}

    
    }