._sidebar {
    max-height: 100% !important;
    
    
    z-index: 999;
}

._sidebar-container {
    width: 100%;
} 


._thead {
    width: 20rem;
}



._card-classe{
width: 100%;
}


._mycard {
width: 25rem;
}



._accordion-header {
    border-bottom: 1px solid rgb(192, 192, 192);
    width: 100%;
}



._accordion-button {
    width: 100%;


}


._card-faq {
    width:  100%;
}

._mynavbar {
    height: 90%;
    width: 100%;
}











@media (max-width: 576px) { 


._mycard {
    width: 43rem;
    }

._title-navbar {
    display: none;
}


}



@media (max-width: 768px)  { 


    ._mycard {
        width: 32rem;
        }
    
    ._title-navbar {
        display: none;
    }
    
    
    }