._sidebar {
    width:100px;
    max-height: 100%;
    background-color: #051e34;
    align-items: center;
    z-index: 999;
}

.bg-image {
    background-image: url(./img-4/sidebar-bg.png);
    background-size: cover;  /* Regola la dimensione dell'immagine in modo che copra l'intera area */
    background-position: start;  /* Allinea l'immagine al centro dell'area */
    background-repeat: no-repeat;  /* Impedisce la ripetizione dell'immagine */

}

._ul-navbar {
    height: 20rem;
    width: 100%;
    list-style: none;
}



._ul-navbar {
    height: 20rem;
    width: 100%;
    list-style: none;
}



._sidebar-container {
    width: 100%;
} 


._thead {
    width: 12rem;
    font-size: 10px;
    height: 100%;
  


}

._list-items-tab {
    font-size: 10px;
}



._button-tab {
    border-radius: 5px;
    border: none;
    border: 1px solid grey;
    height: 2rem;
    width: 2rem;
    

}


._badge-tab {
    background-color: green;
    border-radius: 5px;
    padding: 2px;
    font-size: 10px;
}

._nome {
    width: 50rem;
}

._icon-list {
    width: 1.5rem;
    height: 1.5rem;
}


._card-classe{
max-width: 100%;

}


._mycard {
max-width: 100%;


}



._img-container{
    width: 100%;
    background-image: url(./img-4/stats.jpeg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 250px;
    background-position: center;
}


._accordion-header {
   
    width: 100%;
}



._accordion-button {
    width: 100%;


}


._card-faq {
    width:  100%;
}

._ul-navbar {
    height: 50rem;
 
}




._text-li {
font-size: 10px;

}


._bg-gray {
    background-color: rgb(237, 237, 237);
    border: none;
}


._bg-badge {
    background-color: #051e3457;
    border-radius: 20px;
    font-size: 10px;
    
}

._plus {
    border: 1px solid white;
    border-radius: 5px;
    height: 2rem;
    width: 2rem;
    
  font-size: 8px;
 background-color: transparent;
 align-content: center;
  text-align: center;


   
 

}

._title-online-user {
    font-size: 10px;
}




@media (max-width: 576px) { 




._title-navbar {
    display: none;
}


}





@media (max-width: 768px)  { 


    ._sidebar {
        width:50px;
        max-height: 100%;
        background-color: #051e34;
        align-items: center;
        z-index: 999;
    }

    ._title-navbar {
        display: none;
    }
    

._text-li {
    display: none;

}

    
    }